@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
:root {
  --basic-color: #01b910;
}
.App {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  font-family: 'Amiri', serif;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: row;
}
.container h1 {
  font-size: 36px;
  text-align: left;
  color: var(--basic-color);
}
.sid-container,.star-container {
  width: 80%;
  height: 300px;
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: scroll;
}
@media screen and (max-width: 600px) {
  .sid-container,.star-container {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}
.route {
  font-weight: 400;
}

.footer {
  font-size: 15px;
  font-weight: 600;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.index {
  background-color: rgb(29, 15, 231);
  color:white;
}